<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qckj.dabei">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".app.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.qckj.dabei.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>


        <!-- 设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="641028e611c216bfa2c9f550e1f7d48d" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5be9420af1f556dfcb000194" />

        <!--  QQ  begin-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1107002760" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--  QQ  end-->

        <!--  微信  begin -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--  微信  end -->

        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.webview.BrowserActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.ErCodeScanActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.user.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.user.UserInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.user.VerificationCodeLoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.user.AccountLoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.user.ForgetPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.user.BindPhoneActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.user.ModifyUserNameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.user.AgainBindPhoneActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.user.ModifyLoginPwdActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.order.MineOrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.AboutUsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.msg.MineMessageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.contact.EmergencyContactActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.contact.EmergencyContactAddActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.MorePartnerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.RecommendServiceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.release.DemandDescribeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.release.PayActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.StoreDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.comment.MineCommentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.wallet.MineWalletActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.partner.JoinPartnerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.merchant.MerchantCenterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.complain.ComplainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".manager.share.UmengShareEntryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.auth.AuthCenterActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>